header{
    background-color: rgb(192, 226, 43);
}
body {
    background-color: aquamarine;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    margin: 20px;
}

h1, h2 {
    color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding-right: 20px;
}

nav ul li a:hover {
    color: #666;
}